<link href="https://fonts.googleapis.com/css?family=Open+Sans|Sue+Ellen+Francisco" rel="stylesheet">
<style>
html, body{
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}
main {
  height: 100%;
  padding: 0;
  margin-top: 0;
  padding-top: 51px;
}
body { 
    background-image: url("../slacker.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
</style>

<div class="text-center">
  <h1 style="padding-top: 15px; font-size: 90px; font-family: 'Sue Ellen Francisco', cursive;">Summit Strive</h1>
  <%= image_tag("mountain_icon_old.png", width:"50px") %>
  <p>Summit Logs for your Strava Data</p>
  <p>Vertical Personal Records</p>
  <p>Summit Lists</p>
</div>