<ul class="nav nav-tabs">
  <li id="summits-nav-tab" role="presentation"><a href="/users/<%= @id %>">Summits</a></li>
  <li id="map-nav-tab" role="presentation"><a href="/users/<%= @id %>/map">Map</a></li>
  <li id="vertical-nav-tab" role="presentation"><a href="/users/<%= @id %>/vertical">Vertical</a></li>
</ul>